<!-- <div class="row text-center grey-background">
    <a href="judging.html"><h1>Floor map for judging</h1></a>
</div>
 -->

<div class="row text-center">
    <h2>George Sherman Union</h2>
    <div class="columns floors-buttons small-3 medium-5 text-right">
        <div class="row" id="3" onclick="map(this.id)">THIRD<br>FLOOR</div>
        <div class="row active" id="2" onclick="map(this.id)">SECOND<br>FLOOR</div>
        <div class="row" id="1" onclick="map(this.id)">FIRST<br>FLOOR</div>
        <div class="row" id="0" onclick="map(this.id)">BASE<br>MENT</div>
    </div>
    <div class="columns floors small-9 medium-7 text-left">
        <div><img src="img/floor0.jpg"></div>
        <div><img src="img/floor1.jpg"></div>
        <div class="active"><img src="img/floor2.jpg"></div>
        <div><img src="img/floor3.jpg"></div>
    </div>
</div>
<div class="row mapkey" style = "padding-top: 20px;">
    <h2><Strong>0:</Strong> GSU Student Link</h2>
        <h3>Student check in.</h3>
    <h2><Strong>1:</Strong> Metcalf Ballrom</h2>
        <h3>Main hacking area.</h3>
    <h2><Strong>2:</Strong> Metcalf Ballroom Left</h2>
        <h3>Sponsors Zone.</h3>
    <h2><Strong>3:</Strong> GSU Student Link</h2>
        <h3>Student check in.</h3>
</div>

