<div class="row">
	<div class="grey-background columns small-12 text-center">
    	<p>Here are some fun puzzles made by the organizers. If you complete one please come show us!</p> 
	</div>

<div class = "puzzles-list">
	<h1>Powerpoint Full Adder</h1>
	<h2>Create a full adder using just Microsoft Powerpoint (it is possible!).</h2>
	<h3>See here for some help: <a href="https://www.youtube.com/watch?v=uNjxe8ShM-8" target="_blank">https://www.youtube.com/watch?v=uNjxe8ShM-8.</a></h2>
	<br>
</div>