<div class = "track-resources">
	<h1>API Resources</h1>
	<br>
	<h1>Track Specific Resources</h1>
		<h2>Web and Mobile Development:</h2>
			<h3>-Javascript Basics: <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics" target="_blank">https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics</a></h3>
			<h3>-Google Chrome DevTools: <a href="https://www.youtube.com/watch?v=x8u0n4dT-WI" target="_blank">https://www.youtube.com/watch?v=x8u0n4dT-WI</a></h3>
			<h3>-React Native with Redux: <a href="https://www.packtpub.com/books/content/how-get-started-redux-react-native" target="_blank">https://www.packtpub.com/books/content/how-get-started-redux-react-native</a></h3>
			<h3>-React Native with Firebase: <a href="https://firebase.googleblog.com/2016/01/the-beginners-guide-to-react-native-and_84.html" target="_blank">https://firebase.googleblog.com/2016/01/the-beginners-guide-to-react-native-and_84.html</a></h3>

		<h2>Machine Learning:</h2>
			<h3>-Scikit: <a href="scikit-learn.org" target="_blank">scikit-learn.org</a></h3>
			<h3>-Keras: <a href="https://keras.io" target="_blank">https://keras.io</a></h3>
			<h3>-Pytorch: <a href="http://pytorch.org/tutorials/beginner/deep_learning_60min_blitz.html" target="_blank">http://pytorch.org/tutorials/beginner/deep_learning_60min_blitz.html</a></h3>

		<h2>Virtual and Augmented Reality:</h2>
			<h3>-Simmetri: <a href="http://simmetri.com/tutorials.html" target="_blank">http://simmetri.com/tutorials.html</a></h3>
			<h3>-Simmetri Youtube Channel: <a href="https://www.youtube.com/channel/UCLhvQir_XFbmMnmODLFQqqA" target="_blank">https://www.youtube.com/channel/UCLhvQir_XFbmMnmODLFQqqA</a></h3>
			<h3>-Unity: <a href="https://unity3d.com/learn" target="_blank">https://unity3d.com/learn</a></h3>
			<h3>-Unity and Android: <a href="https://docs.unity3d.com/Manual/android-GettingStarted.html" target="_blank">https://docs.unity3d.com/Manual/android-GettingStarted.html</a></h3>
			<h3>-Unity and OpenVR (Vive and Oculus Rift): <a href="https://www.assetstore.unity3d.com/en/#!/content/32647" target="_blank">https://www.assetstore.unity3d.com/en/#!/content/32647</a></h3>
			<h3>-Unity and ARCore: <a href="https://github.com/google-ar/arcore-unity-sdk" target="_blank">https://github.com/google-ar/arcore-unity-sdk</a></h3>
			<h3>-Unity and IOS: <a href="https://docs.unity3d.com/Manual/iphone-GettingStarted.html" target="_blank">https://docs.unity3d.com/Manual/iphone-GettingStarted.html</a></h3>
			<h3>-Unity and ARKit: <a href="https://bitbucket.org/Unity-Technologies/unity-arkit-plugin" target="_blank">https://bitbucket.org/Unity-Technologies/unity-arkit-plugin</a></h3>

</div>