<div class = "track-resources">
	<h1>API Resources</h1>
	<br>
	<h1>Track Specific Resources</h1>
		<h2>Web and Mobile Development:</h2>
		<h2>Machine Learning:</h2>
			<h3><a href="scikit-learn.org" target="_blank">scikit-learn.org</a></h3>
			
		<h2>Virtual and Augmented Reality:</h2>
</div>