<div class="row grey-background" style="max-width:85rem;">
<div class="schedule-wrapper">
<h2 style="padding-left:30px; font-style:italic;">Saturday</h2>
<div class="schedule-body">

<div class="event-object" style="left:45px; top:50px;">
<div class="event-title">Check-In</div>
<div class="event-time">9am-11am</div>
<div class="event-line" style="width:190px;"></div>
</div>

<div class="event-object" style="left:234px; top:120px;">
<div class="event-title">Opening Ceremony</div>
<div class="event-time">11am-12pm</div>
<div class="event-line" style="width:95px;"></div>
</div>

<div class="event-object" style="left:328px; top:50px;">
<div class="event-title">Lunch</div>
<div class="event-time">12pm-1pm</div>
<div class="event-line" style="width:95px;"></div>
</div>

<div class="event-object" style="left:420px; top:120px;">
<div class="event-title">Team Formation</div>
<div class="event-time">1pm-1:30pm</div>
<div class="event-line" style="width:47.5px;"></div>
</div>

<div class="event-object" style="left:467.5px; top:50px;">
<div class="event-title">Hacking Begins</div>
<div class="event-time">1:30pm</div>
<div class="event-line" style="width:6px;"></div>
</div>

<div class="event-object" style="left:893px; top:120px;">
<div class="event-title">Dinner</div>
<div class="event-time">6pm-7pm</div>
<div class="event-line" style="width:95px;"></div>
</div>

<div class="schedule-day">



<div class="divself">
	<div class="label">9am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">10am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">11am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">12pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">1pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">2pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">3pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">4pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">5pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">6pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">7pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">8pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">9pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">10pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">11pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">12am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
	<div class="label">1am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">2am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">3am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">4am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">5am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">6am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">7am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">8am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">9am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">10am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">11am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">12pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">1pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">2pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">3pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">4pm</div>
	<div class="divisor"></div>
</div>

</div>
</div>
</div>
</div>

</div>
