<div class="row grey-background" style="max-width:85rem;">
<div class="schedule-wrapper">
<h2 style="padding-left:30px; font-style:italic; float:left;">Saturday</h2>
<h2 style="margin-right:-180px; font-style:italic; float:right;">Sunday</h2>
<div class="schedule-body">

<div class="event-object" style="left:45px; top:50px;">
<div class="event-title">Check-In</div>
<div class="event-time">9am-11am</div>
<div class="event-line twohrevent"></div>
</div>

<div class="event-object" style="left:234px; top:120px;">
<div class="event-title">Opening Ceremony</div>
<div class="event-time">11am-11:30pm</div>
<div class="event-line halfhrevent"></div>
</div>

<div class="event-object" style="left:375px; top:50px;">
<div class="event-title">Lunch</div>
<div class="event-time">12:30pm-1:30pm</div>
<div class="food-line onehrevent"></div>
</div>

<div class="event-object" style="left:470px; top:120px;">
<div class="event-title">Team Formation</div>
<div class="event-time">1:30pm-2pm</div>
<div class="event-line halfhrevent"></div>
</div>

<div class="event-object" style="left:470px; top:330px;">
<div class="event-title">Women in Tech Meetup</div>
<div class="event-time">1:30pm-2pm</div>
<div class="event-line halfhrevent"></div>
</div>

<div class="event-object" style="left:513px; top:50px;">
<div class="event-title">Hacking Begins</div>
<div class="event-time">2pm</div>
<div class="event-line onetimeevent"></div>
</div>

<div class="event-object" style="left:515px; top:190px;">
<div class="event-title">Intro to Web Dev</div>
<div class="event-time">2pm-3pm</div>
<div class="workshop-line onehrevent"></div>
</div>

<div class="event-object" style="left:515px; top:260px;">
<div class="event-title">Unity 3D for VR and AR</div>
<div class="event-time">2pm-3pm</div>
<div class="workshop-line onehrevent"></div>
</div>

<div class="event-object" style="left:610px; top:120px;">
<div class="event-title">Intro to Machine Learning</div>
<div class="event-time">3pm-3:30pm</div>
<div class="workshop-line halfhrevent"></div>
</div>

<div class="event-object" style="left:610px; top:400px;">
<div class="event-title">Simmetri Workshop</div>
<div class="event-time">3pm-4pm</div>
<div class="workshop-line onehrevent"></div>
</div>

<div class="event-object" style="left:705px; top:190px;">
<div class="event-title">Developing in Javascript</div>
<div class="event-time">4pm-5pm</div>
<div class="workshop-line onehrevent"></div>
</div>

<div class="event-object" style="left:750px; top:260px;">
<div class="event-title">Deep Learning with Keras</div>
<div class="event-time">4:30pm-5pm</div>
<div class="workshop-line halfhrevent"></div>
</div>

<div class="event-object" style="left:800px; top:50px;">
<div class="event-title">MPC Workshop</div>
<div class="event-time">5pm-5:30pm</div>
<div class="workshop-line halfhrevent"></div>
</div>

<div class="event-object" style="left:850px; top:120px;">
<div class="event-title">Intro to React Native, Mobile App Dev</div>
<div class="event-time">5:30pm-6:30pm</div>
<div class="workshop-line onehrevent"></div>
</div>

<div class="event-object" style="left:940px; top:50px;">
<div class="event-title">Dinner</div>
<div class="event-time">6:30pm-7:30pm</div>
<div class="food-line onehrevent"></div>
</div>

<div class="event-object" style="left:1040px; top:190px;">
<div class="event-title">No Light</div>
<div class="event-time">7:30pm-8:30pm</div>
<div class="event-line onehrevent"></div>
</div>

<div class="event-object" style="left:1080px; top:260px;">
<div class="event-title">Costume Contest</div>
<div class="event-time">8pm-9pm</div>
<div class="event-line onehrevent"></div>
</div>

<div class="event-object" style="left:1080px; top:330px;">
<div class="event-title">Just Dance (Terrace Lounge)</div>
<div class="event-time">8pm-10pm</div>
<div class="event-line twohrevent"></div>
</div>

<div class="event-object" style="left:1270px; top:50px;">
<div class="event-title">Karaoke</div>
<div class="event-time">10pm-11pm</div>
<div class="event-line onehrevent"></div>
</div>

<div class="event-object" style="left:1270px; top:190px;">
<div class="event-title">Spooky Movie (Terrace Lounge)</div>
<div class="event-time">10pm-12am</div>
<div class="event-line twohrevent"></div>
</div>

<div class="event-object" style="left:1457px; top:50px;">
<div class="event-title">Midnight Snack</div>
<div class="event-time">12am-12:30am</div>
<div class="food-line halfhrevent"></div>
</div>

<div class="event-object" style="left:2210px; top:50px;">
<div class="event-title">Breakfast</div>
<div class="event-time">8am-9am</div>
<div class="food-line onehrevent"></div>
</div>

<div class="event-object" style="left:2495px; top:50px;">
<div class="event-title">Submission to Dev Post</div>
<div class="event-time">11am</div>
<div class="event-line onetimeevent"></div>
</div>

<div class="event-object" style="left:2495px; top:120px;">
<div class="event-title">Lunch</div>
<div class="event-time">11am-12pm</div>
<div class="food-line onehrevent"></div>
</div>

<div class="event-object" style="left:2587px; top:190px;">
<div class="event-title">Judging Expo</div>
<div class="event-time">12pm-2pm</div>
<div class="event-line twohrevent"></div>
</div>

<div class="event-object" style="left:2775px; top:50px;">
<div class="event-title">Closing Ceremony</div>
<div class="event-time">2pm-3pm</div>
<div class="event-line onehrevent"></div>
</div>

<div class="schedule-day">



<div class="divself">
	<div class="label">9am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">10am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">11am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">12pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">1pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">2pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">3pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">4pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">5pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">6pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">7pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">8pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">9pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">10pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">11pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">12am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
	<div class="label">1am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">2am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">3am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">4am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">5am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">6am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">7am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">8am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">9am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">10am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">11am</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">12pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">1pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">2pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">3pm</div>
	<div class="divisor"></div>
</div>
<div class="divself">
		<div class="label">4pm</div>
	<div class="divisor"></div>
</div>

</div>
</div>
</div>
</div>

</div>