<br>

<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
        <div class="title">Introduction to Web Development</div>
        <div class="text">
            <div class= "text-wrapper">
                <center>2:00-3:00 
                <br>
                Metcalf Ballroom 
                <br>
                <br>
                <strong>Resources</strong>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>During</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>After</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>

            </div>
        </div>
    </span>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
        <div class="title">Simmetri</div>
        <div class="text">
            <div class= "text-wrapper">
                <center>2:00-3:00 
                <br>
                Metcalf Ballroom 
                <br>
                <br>
                <strong>Resources</strong>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>During</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>After</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
            </div>
        </div>
    </span>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Keras</div>
    <div class="text">
        <div class= "text-wrapper">
               <center>2:00-3:00 
                <br>
                Metcalf Ballroom 
                <br>
                <br>
                <strong>Resources</strong>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>During</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>After</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
        </div>
    </div>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">React Native</div>
    <div class="text">
        <div class= "text-wrapper">
                  <center>2:00-3:00 
                <br>
                Metcalf Ballroom 
                <br>
                <br>
                <strong>Resources</strong>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>During</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>After</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
        </div>
    </div>
</div>

<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">JavaScript</div>
    <div class="text">
        <div class= "text-wrapper">
                  <center>2:00-3:00 
                <br>
                Metcalf Ballroom 
                <br>
                <br>
                <strong>Resources</strong>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>During</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>After</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
        </div>
    </div>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">TensorFlow</div>
    <div class="text">
        <div class= "text-wrapper">
                  <center>2:00-3:00 
                <br>
                Metcalf Ballroom 
                <br>
                <br>
                <strong>Resources</strong>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>During</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
                <strong>After</strong>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="column spacer"></div>

<br>
