<br>

<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
        <div class="title">Introduction to Web Development (2:00-3:00)</div>
        <div class="text">
            <div class= "text-wrapper">
                <br>
                Location: Room 320
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    We're going to cover the basics of HTML, CSS, and Bootstrap in this workshop to help students get their foot into web-development.
                </div>
                </center>
                <br>
                <strong>Before:</strong>
                <ul>
                    <li>Please follow the instructions here: <a><href="https://quip.com/nrbJAGvN6zC9">https://quip.com/nrbJAGvN6zC9</a></li>
                </ul>
            </div>
        </div>
    </span>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Unity 3D for VR and AR (2:00-3:00)</div>
    <div class="text">
        <div class= "text-wrapper">
                <br>
                Location: Room 228
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    Unity is the most popular game engine for building VR and AR apps. Come learn how to use Unity as we introduce many of its core features including the editor, physics, materials, and C# scripting. In this workshop we will build together a cool little app that can run in VR and/or AR.
                </div>
                </center>
                <br>
                <strong>Before:</strong>
                <ul>
                    <li>Install Unity (v 2017.2) Personal Edition (free) from here: <a><href="https://store.unity.com/">https://store.unity.com/</a></li>
                    <li>Download demo assets from here: <a><href="https://drive.google.com/open?id=0B8Spnid7Ft5cR0xGWE1HUUlQVUU">https://drive.google.com/open?id=0B8Spnid7Ft5cR0xGWE1HUUlQVUU</a></li>
                    <li>Some familiarity with Unity would be helpful but not required: <a><href=" https://unity3d.com/learn"> https://unity3d.com/learn</a></li>
                </ul>
            </div>
    </div>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
        <div class="title">Introduction to Machine Learning (3:00-3:30)</div>
        <div class="text">
            <div class= "text-wrapper">
                <br>
                Location: Room 320
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    A workshop to teach the basics of Machine Learning and implementing it using a very easy to use library called Scikit Learn.
                </div>
                </center>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Install Anaconda Python 3.6 from here: <a><href="https://anaconda.org">https://anaconda.org</a></li>
                </ul>
            </div>
        </div>
    </span>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Simmetri: Your Fastest Route to Playful VR (3:00-4:00)</div>
    <div class="text">
        <div class= "text-wrapper">
                <br>
                Location: Room 228
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    Make playable VR today! Simmetri, a platform built by a Boston University alum, and winner of the 2017 SXSW VR Hackathon, is designed for rapid-prototyping and playful creation of VR experiences. Cut the learning curve, move beyond debugging, and get into real playful and imaginative VR design ideas.
                </div>
            </center>
            <br>
                <strong>Before</strong>
                <ul>
                    <li>Install the latest version of Simmetri (windows only or mac bootcamp) found here: <a><href="http://simmetri.com/download.html">http://simmetri.com/download.html </a></li>
                    <li>Complete the interactive tutorials under the "Help" menu</li>
                    <li>Read the "getting started" reference found under the "Getting Started" tab of the "Help" menu. Make sure to visit, "getting started with scripting."</li>
                </ul>
        </div>
    </div>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Developing in JavaScript: Tools and Techniques (4:00-5:00)</div>
    <div class="text">
        <div class= "text-wrapper">
                <br>
                Location: Room 228
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    During this workshop we will look at history of JavaScript and its evolvement. We will then various ways we can speed up developing and debugging JavaScript code that runs in the browser (front-end) . This workshop is beginner-friendly, however it is targeted at students already familiar with JavaScript.
                </div>
            </center>
        </div>
    </div>
</div>

<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Deep Learning with Keras (4:30-5:00)</div>
    <div class="text">
        <div class= "text-wrapper">
                <br>
                Location: Room 320
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    We will talk about the fundamentals of gradients and neural networks, and then dive into applications of simple and advanced convolutional neural networks on the classic MNIST dataset.
                </div>
                <br>
                <strong>Before</strong>
                <ul>
                    <li>Install Anaconda Python 3.6 from here: <a><href="https://anaconda.org">https://anaconda.org</a></li>
                </ul>
            </center>
        </div>
    </div>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Introduction to Secure Multiparty Computation (5:00-5:30)</div>
    <div class="text">
        <div class= "text-wrapper">
                <br>
                Location: Room 228
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    Secure Multiparty Computation (MPC) allows interested parties to perform computations and analysis on sensitive data that they would like to keep private. The workshop will provide a quick introduction to the theoretical foundations of MPC, as well as practical frameworks and deployments of MPC.
                </div>
                </center>
                <br>
            </div>
    </div>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">Intro to React Native, Mobile App Development (5:30-6:30)</div>
    <div class="text">
        <div class= "text-wrapper">
                <br>
                Location: Room 228
                <br>
                <br>
                <div class="workshop-description">
                    <strong>Description:</strong>
                    <br>
                    Build a native mobile app that works on both iOS and android. A React Native app is a real mobile app, which can be compiled into Android and iOS apps (among many others) using JavaScript and React. It's like learning one language for the price of many!
                </div>
                </center>
                <br>
                <strong>Before:</strong>
                <ul>
                    <li>Checkout the React-Native Facebook page: <a><href="https://facebook.github.io/react-native/">https://facebook.github.io/react-native/</a></li>
                </ul>
            </div>
    </div>
</div>
<div class="column spacer"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
