<!DOCTYPE html>
<html>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
    var socket = io().connect('http://localhost:8080'); 
    socket.on('connection', function (data) {
        console.log('connected');
        socket.emit('my other event');
    });
</script>
<% include partials/head %>

<body>
    <div class="section-title text-center">
        <div class="page-title">HOME</div>
    </div>

    <section class="home row">
        <% include partials/home %>
    </section>

    <section class="map" style="display: none">
        <% include partials/map %>
    </section>

    <section class="hardware" style="display: none">
        <% include partials/hardware %>
    </section>

    <section class="resources" style="display: none">
        <% include partials/resources %>
    </section>

    <section class="travel" style="display: none">
        <% include partials/travel %>
    </section>
	
	<section class="schedule" style="display: none">
        <% include partials/schedule %>
    </section>

    <section class="workshops" style="display: none">
        <% include partials/workshops %>
    </section>

    <section class="puzzles" style="display: none">
        <% include partials/puzzles %>
    </section>

</body>

<br>
<% include partials/footer %>

</html>
